.App * {
}

header, main {
  padding: 0 50px;
}

ul {
  padding: 0;
}

main, .instructions {
  flex-direction: column;
}

.App-logo {
  height: 28px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

header {
  background-color: #6474af;
  color: white;
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand p {
  padding-left: 15px;
}

.App-intro {
  font-size: large;
}

.App .info {
  cursor: pointer;
}

.game, .store-and-players {
  display: flex;
}

.itemsForSale {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notification {
  background: rgba(0,0,0,0.04);
  border: 1px solid rgba(90, 57, 57, 0.08);
  padding: 4px 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  transform: rotate(45deg);
  font-size: 2rem;
  cursor: pointer;
  width: 40px;
  font-weight: 100;
  color: rgba(0,0,0,.7);
}