body { 
  color: #444547;
}

header, section {
  padding: 0 50px;
}

header p {
  color: #fff;
}

p, ul {
  padding: 0;
  margin: 0;
}

h4 {
  margin: 0 0 6px 0;
}

main, .instructions {
  flex-direction: column;
}

.instructions {
  padding-top: 15px;
  padding-bottom: 30px;
  background: #fff;
}

.game {
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 50px;
  background: #f8f8f8;
}

.App-logo {
  height: 28px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

header {
  background-color: #6474af;
  color: white;
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand p {
  padding-left: 15px;
}

.App-intro {
  font-size: large;
}

.App .info {
  cursor: pointer;
}

.game, .store-and-players {
  display: flex;
}

.itemsForSale {
  display: flex;
  flex-wrap: wrap;
}

.notification {
  /* background: rgba(0,0,0,0.04);
  border: 1px solid rgba(90, 57, 57, 0.08);
  padding: 4px 20px; */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  transform: rotate(45deg);
  font-size: 2rem;
  cursor: pointer;
  width: 40px;
  font-weight: 100;
  color: rgba(0,0,0,.7);
}

.ForSale li, .ownedItems li {
  background: #fff;
  list-style: none;
  padding: 12px;
  border: 1px solid #cccccc;
  margin: 0 5px 5px 0;
  box-shadow: 1px 1px 4px #0000002e;
  align-items: center;
  cursor: pointer;
}

.ReactModalPortal ul, p {
  padding: 10px 0;
}

.ReactModalPortal ul {
  padding-left: 18px;
}