.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  float:left
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App .info {
  font-family: helvetica, sans-serif;
  font-size:500%;
  font-weight: bolder;
  color: #1f5db0;
  float:left;
  position: absolute;
  margin-left:40px;
}
