.Players li.Player {
  display: inline-block;
  list-style: none;
  margin: 20px;
  width:20%;
}

.ownedItems li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}

.ownedItems li .label {
  font-size: 200%;
}

.ownedItems .forSale {
  background: #ffa;
}
