.Players li.Player {
  list-style: none;
  width: 33.33%;
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.Players li.Player:last-of-type {
  border-right: none;
}

.playerList {
  display: flex;
  justify-content: space-between;
}

.ownedItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ownedItems li {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 4px 8px;
}

.ownedItems li .label {
  font-size: 200%;
  display: flex;
  align-items: center;
}

.ownedItems .forSale {
  display: none;
}

.ownedItems .sell {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 8px;
}